[submodule "RBF-KAN"]
	path = RBF-KAN
	url = https://github.com/Sid2690/RBF-KAN.git
[submodule "efficient-kan"]
	path = efficient-kan
	url = https://github.com/Blealtan/efficient-kan.git
[submodule "fast-kan"]
	path = fast-kan
	url = https://github.com/ZiyaoLi/fast-kan.git
[submodule "faster-kan"]
	path = faster-kan
	url = https://github.com/AthanasiosDelis/faster-kan.git
[submodule "pykan"]
	path = pykan
	url = https://github.com/KindXiaoming/pykan.git
[submodule "FourierKAN"]
	path = FourierKAN
	url = https://github.com/GistNoesis/FourierKAN.git
[submodule "FlashAttention20"]
	path = FlashAttention20
	url = https://github.com/kyegomez/FlashAttention20.git
[submodule "ChebyKAN"]
	path = ChebyKAN
	url = https://github.com/SynodicMonth/ChebyKAN.git
[submodule "SineKAN"]
	path = SineKAN
	url = https://github.com/ereinha/SineKAN.git
